:root {
    --main-color: #242424;
    --main-light-bg-color: #ffffff;
    --main-light-color: #f9f9f9;
    --main-dark-color: #000000;
    --main-gray-color: #cccccc;
    --main-lightgray-color: #dddddd;
    --main-orange-color: darkorange;
    --invalid-color: tomato;
    --valid-color: darkgreen;
    --warning-color: red;
}
